.card-container {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 500px;

}
.card {
  display: block;
  box-shadow: 10px 10px maroon;
  border: solid lightblue 1px;
  padding: 5px;
  text-align: center;
  
}

p1 {
  display: block;
  text-align: center;
  background-color: darkgrey;
  color:yellow;
}

.specs {
  font-weight: bold;
  border:lightblue;
  
}

.card img {
  height: 200px;
  width: 200px

}

h2 {
  text-align: center;
}
